@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

body {
  background-color: hsl(0, 0%, 8%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background-color: hsl(0, 0%, 12%);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px;
  text-align: center;
  border-radius: 10px;
}

.profile-info, .social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-self: center;
}

span, p, button {
  color: hsl(0, 0%, 100%);
}

.profile-info .name {
  font-size: 22px;
}

.profile-info .location {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
}

button {
  background-color: hsl(0, 0%, 20%);
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

@media screen and (max-width: 350px) {
  .profile-container {
    width: 100%;
  }
}